.soi-save{
	margin-top: 10px;
}

.show-member .doc-container{
	display: block;
	width: 100%;
	background-color: #f5f5f5;
	padding: 5px 5px 5px 9px;
	border: 1px solid #dcdcdc;
	margin-bottom: 10px;

}
	.show-member .doc-container a{
		font-weight: bold;
	}

	.show-member .doc-container .icon{
		margin-right: 10px;
	}

	.show-member .doc-container .icon i{
		font-size: 14px;
		padding: 4px;
	}



.tooltip.top .tooltip-inner{

max-width:310px;

padding:3px 8px;

color:#000;

text-align:center;

background-color:red;

-webkit-border-radius:5px;

-moz-border-radius:5px;

border-radius:5px

}

.tooltip .tooltip-inner{	
	max-width:310px;
	 
	padding:3px 8px;
	 
	color:#000;
	 
	text-align:center;
	 
	background-color:red;
	 
	-webkit-border-radius:5px;
	 
	-moz-border-radius:5px;
	 
	border-radius:5px
 
}
